<ion-content [fullscreen]="true" class="content-body">
  <ion-grid class="logo">
          <img src="assets/logotipo.svg" alt="Logotipo do EyePet">
  </ion-grid>

  <!-- visor freq.cardiaca -->

  <!-- menu superior do visor -->
  <ion-row class="page-name">
    <ion-col>
      Configurações
    </ion-col>
  </ion-row>
  
  <ion-list>
    <ion-col>

      <ion-item lines="none">  

        <ion-label  position="floating">
          <p class="divider">
            Nome do seu Pet
          </p>
        </ion-label>
        <ion-input></ion-input>
      </ion-item>

    </ion-col>
    
    <ion-col>

      <ion-item lines="none">

        <ion-label position="floating">
          <p class="divider">
            Contato de Emergência
          </p>
        </ion-label>
        <ion-input></ion-input>

      </ion-item>

    </ion-col>
    <ion-col>
      <ion-item lines="none">
        <ion-select class="posicao-centro" placeholder="Qual seu pet?">
          
          <ion-select-option value="f">
            <p>
              Cachorro
            </p>
          </ion-select-option>
          <ion-select-option value="m">
            <p>
              Gato
            </p>
          </ion-select-option>
          
        </ion-select>
      </ion-item>

      
    </ion-col>

    <ion-row class="choose-data">

      <ion-item class="btn-datetime" lines="none">

        <ion-icon name="today-outline" slot="end"></ion-icon>
        <ion-datetime displayFormat="h:mm A" placeholder="00h00" minuteValues="0,15,30,45"></ion-datetime>

      </ion-item>
      <ion-item class="btn-datetime" lines="none">

        <ion-icon name="today-outline" slot="end"></ion-icon>
        <ion-datetime displayFormat="h:mm A" placeholder="00h00" minuteValues="0,15,30,45"></ion-datetime>

      </ion-item>

    </ion-row>
    
    <ion-item lines="none">
      <p>Distância Sensor-Objeto</p>

      <ion-label position="floating"></ion-label>
      <ion-range lines="none" class="range-status" color="success" pin="true"></ion-range>

    </ion-item>
    
    <ion-item lines="none">
      <p>Volume do som</p>

      <ion-label position="floating"></ion-label>
      <ion-range class="range-status" color="success" pin="true"></ion-range>

    </ion-item>

        <ion-row>
          <ion-card class="pet-status">
            <ion-item lines="none">
              <ion-icon color="success" name="paw-outline" slot="start" class="paw-outline"></ion-icon>
              <ion-grid>
                <ion-row>
                  <ion-col>
                    <ion-row>
                      <ion-col class="ion-text-center bold">
                        Raça
                      </ion-col>
                    </ion-row>
                   <ion-row>
                      <ion-col class="ion-text-center">
                        Pug
                      </ion-col>
                    </ion-row> 
                  </ion-col>
                  <ion-col>
                    <ion-row>
                      <ion-col class="ion-text-center bold">
                        Idade
                      </ion-col>
                    </ion-row>
                    <ion-row>
                      <ion-col class="ion-text-center">
                        2
                      </ion-col>
                    </ion-row> 
                  </ion-col>
                  <ion-col>
                    <ion-row>
                      <ion-col class="ion-text-center bold">
                        Peso
                      </ion-col>
                    </ion-row>
                   <ion-row>
                      <ion-col class="ion-text-center">
                        10kg
                      </ion-col>
                    </ion-row> 
                  </ion-col>
                </ion-row>
        
              </ion-grid>
            </ion-item>
        
          </ion-card>
         
          </ion-row>
          <ion-row>
            <ion-card class="pet-status">
              <ion-item lines="none">
                <ion-icon color="success" name="paw-outline" slot="start" class="paw-outline"></ion-icon>
                <ion-grid>
                  <ion-row>
                    <ion-col>
                      <ion-row>
                        <ion-col class="ion-text-center bold">
                          Raça
                        </ion-col>
                      </ion-row>
                     <ion-row>
                        <ion-col class="ion-text-center">
                          none
                        </ion-col>
                      </ion-row> 
                    </ion-col>
                    <ion-col>
                      <ion-row>
                        <ion-col class="ion-text-center bold">
                          Idade
                        </ion-col>
                      </ion-row>
                      <ion-row>
                        <ion-col class="ion-text-center">
                          3.5
                        </ion-col>
                      </ion-row> 
                    </ion-col>
                    <ion-col>
                      <ion-row>
                        <ion-col class="ion-text-center bold">
                          Peso
                        </ion-col>
                      </ion-row>
                     <ion-row>
                        <ion-col class="ion-text-center">
                          4.5kg
                        </ion-col>
                      </ion-row> 
                    </ion-col>
                  </ion-row>
          
                </ion-grid>
              </ion-item>
          
            </ion-card>
           
            </ion-row>
          <ion-button class="btn-salvar" type="round" className="ion-activatable ripple-parent">Salvar</ion-button>

    </ion-list>

</ion-content>
