<ion-content [fullscreen]="true" class="content-body">
  <ion-grid class="logo">
    <ion-row>
      <ion-col>
        <img src="assets/logotipo.svg" alt="Logotipo do EyePet">
      </ion-col>
    </ion-row>
  </ion-grid>

<ion-col>
  <ion-item>
    <ion-label position="floating">Nome do seu Pet</ion-label>
    <ion-input></ion-input>
  </ion-item>
  </ion-col>
<ion-col>
  <ion-item>
    <ion-label>Pet</ion-label>
    <ion-select placeholder="Qual seu pet?">
      <ion-select-option value="f">Cachorro</ion-select-option>
      <ion-select-option value="m">Gato</ion-select-option>
    </ion-select>
  </ion-item>
  </ion-col>
  <ion-col>
    <ion-item>
      <ion-label position="floating">Contato de Emergência</ion-label>
      <ion-input></ion-input>
    </ion-item>
  </ion-col>
  <ion-list>

    <ion-row class="choose-data">

      <ion-item class="btn-datetime">
        <ion-label>00h00</ion-label>
        <ion-icon name="today-outline" slot="end"></ion-icon>
        <ion-datetime displayFormat="h:mm A" minuteValues="0,15,30,45"></ion-datetime>
      </ion-item>
      <ion-item class="btn-datetime">
        <ion-label>00h00</ion-label>
        <ion-icon name="today-outline" slot="end"></ion-icon>
        <ion-datetime displayFormat="h:mm A" minuteValues="0,15,30,45"></ion-datetime>
      </ion-item>
    </ion-row>
    
    <ion-item>
      <ion-label position="floating">Distância Sensor-Objeto</ion-label>
      <ion-range class="range-status" color="success" pin="true"></ion-range>
    </ion-item>
    
    <ion-item>
      <ion-label position="floating">Volume do som</ion-label>
      <ion-range class="range-status" color="success" pin="true"></ion-range>
    </ion-item>
  </ion-list>

  <ion-row class="pet-status">
      <ion-item>
        <ion-icon lines="none" name="paw-outline"></ion-icon>
        <ion-toggle></ion-toggle>
      </ion-item>
      <ion-item>
        <ion-icon lines="none" name="paw-outline"></ion-icon>
        <ion-toggle></ion-toggle>
      </ion-item>
      <ion-item>
        <ion-icon lines="none" name="paw-outline"></ion-icon>
        <ion-toggle></ion-toggle>
      </ion-item>
    </ion-row>

    <ion-button class="btn-salvar">Salvar</ion-button>

</ion-content>
