ion-content ion-toolbar {
  --background: translucent;
}

.btn-datetime {
  width: 50%;
  justify-content: space-around!important;
  color: #40E2AB;
}

.choose-data {
  padding-top: 5%;
}
.pet-status {
  margin: 2em auto!important;
  justify-content: space-around;
}
.range-status {
  justify-content: space-around;
}

