


ion-tab-button {
    background-color: #21a762!important;
    color: #484B4D;
}


ion-tab-button.tab-selected {
    color: white!important;
}

ion-tab-button.tab-selected svg {
    fill: white!important;
}

ion-tab-button.ion-activated {
    color: white!important;
} 
