/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";


.logo img {
    margin: 5px;
    width: 48px;
    padding-bottom: 20px;
}

.logo {
    background-color: #40E2AB;
}

.card-atividades .titulo {
    font-size: 20px;
    font-weight: bold;
}

.card-atividades .item-inner  {
    border: none!important;
}

.card-atividades .col-text {
    font-size: 14px;
}

.card-atividades  .coracao {
    color: #FF6D6D;
}


.card-atividades  .bpm {
    font-size: 12px;
}

.card-atividades  .frequencia {
    font-size: 38px !important;
}

.card-atividades .card-icone {
    margin-right: 0px!important;
}

.content-body  {
    background: none!important;
}

.subtitulo {
  font-size: 14px;
  margin: 20px;
}

ion-content {
    --background: #ffffff url('assets/bg-eyepet.svg') no-repeat center center / cover !important;
}

.btn-salvar {

    margin: 20px 5%;
    width: 90%;
    color: white;
    --background:  #4b61e8;
    
}

.icons-dimensions {

    width: 2em;
    height: 2em;
}

