/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";


ion-tab-button {
    background-color: #21a762!important;
    color: #484B4D;
    box-shadow: 5px 0px 5px 0px rgba(0, 0, 0, 0.75);
}


ion-tab-button.tab-selected {
    color: white!important;
}

ion-tab-button.tab-selected svg {
    fill: white!important;
}

ion-tab-button.ion-activated {
    color: white!important;
} 
ion-grid {
    padding: 0;
}

.container{
    margin: 0em;
    padding: 0em!important;
}

ion-content {
    --background: #f2f2f2;
}

.logo {
    background: #21a762;
    padding: 1.25em 0em;  
}

.logo img {
    width: 3em;
    height: 3em;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}



.card-atividades .titulo {
    color: #484B4D;
    font-size: 1.25em;
    font-weight: bold;
}

.card-atividades .item-inner  {
    border: none!important;
}

.card-atividades .col-text {
    color: #484B4D;
    font-size: 0.875em;
}

.card-atividades .coracao {
    color: #FF6D6D;
}


.card-atividades  .bpm {
    font-size: 0.75em;
}

.card-atividades  .frequencia {
    color: #484B4D;
    font-size: 2.375em!important;
}

.subtitulo {
  font-size: 0.875em;
  margin: 0.9em;
  color: #484B4D;
}



.btn-salvar {

    margin: 1.25em 5%;
    width: 90%;
    color: white;
    justify-content: center;
    
}

.icons-dimensions {

    width: 1.5em;
    height: 1.5em;
}

.display {
    padding: 2em 0em;
}

p {
    padding: 0px;
    margin: 0;
}

.content {
    width: 100%;
    box-sizing: border-box;
    text-align: center;
    font-size: 2em;
    margin: 0;
}
.page-name{
    text-align: center;
    background: blue;
    color: white;
}
.visor {
    padding: 0.5em 0em;
    margin: 0em 0.5em 0em 0.5em;
    border-radius: 2.5%;
}
  
.btn-datetime {
    width: 50%;
    justify-content: space-around!important;
    color: #21a762;
  }
  
  .choose-data {
    padding-top: 5%;
  }
  .pet-status {
    margin: 2em auto!important;
    justify-content: space-around;
  }
  .range-status {
    justify-content: space-around;
  }

.divider::after {
    content: "";
    width: 3em;
    height: 0.125em;
    background: #21a762;
    display: block;
    position: absolute;
    margin: 0 auto;
}
.posicao-centro {
    text-align: center;
    position: relative;
    margin: 0 auto;
}

.btn-medir {
    color: white;
    width: 100%;
    height: 2.5em;
    margin: 0em;
} 


.bpm {
    font-size: 1em;
    
}

h2 {
    margin:0;
    padding: 2.5em 0;
}
.bpm-visor {
    font-size: 1.5em;
    color: #484B4D;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
.heart-bpm {
    align-items: center;
}

@keyframes pulse-blink {
    0% { opacity: 1; }
    50% { opacity: 0.5; }
    100% { opacity: 0; }
}
.pulse-blink {
  -webkit-animation: pulse-blink 1s linear infinite;
  -moz-animation: pulse-blink 1s linear infinite;
  -ms-animation: pulse-blink 1s linear infinite;
  -o-animation: pulse-blink 1s linear infinite;
  animation: pulse-blink 1s linear infinite;
}