/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

.container{
    margin: 0em;
    padding: 0em;
}

.logo img {
    margin: 0.3125em;
    width: 3em;
    padding-bottom: 1.25em;
}

.logo {
    background-color: #21a762;
}


.card-atividades .titulo {
    font-size: 1.25em;
    font-weight: bold;
}

.card-atividades .item-inner  {
    border: none!important;
}

.card-atividades .col-text {
    font-size: 0.875em;
}

.card-atividades  .coracao {
    color: #FF6D6D;
}


.card-atividades  .bpm {
    font-size: 0.75em;
}

.card-atividades  .frequencia {
    font-size: 2.375em!important;
}

.card-atividades .card-icone {
    margin-right: 0em!important;
}

.content-body  {
    background: none!important;
}

.subtitulo {
  font-size: 0.875em;
  margin: 1.25em;
}

ion-content {
    --background: #f9f9f9!important;
}

.btn-salvar {

    margin: 1.25em 5%;
    width: 90%;
    color: white;
    --background:  #4b61e8;
    
}

.icons-dimensions {

    width: 1.5em;
    height: 1.5em;
}

.display {
    padding: 2em 0em;
}
.ajuste{
    height: fit-content;
    padding: 0.5em 0em;
    position: relative;
}

p {
    padding: 0px;
    margin: 0;
}

.circle {
    width: 60%;
    height: 50%;
    border-radius: 5%;
    margin: 2em 5em;
}

.glass-wrapper {
    font-family:Arial;
    width: 96.5%;
    min-height: 7%;
    margin: 0 auto;
    padding: 0em 2em;
    box-sizing: border-box;
    color: #020202;
    border-radius: 0.5em;
    position: relative;
  }
  .content {
    width: 100%;
    box-sizing: border-box;
    text-align: center;
    font-size: 2em;
    padding: 0.625em 0.16em;
  }
   
  .glass {
    width: 160%;
    height: 0;
    opacity: .1;
    background: #fff;
     position: absolute;
    top: -114px;
    left: -200px;
    z-index: 9;
    border-radius: 50%;
  }

  .visor {
    height: fit-content;
    padding: 0.5em 0em;
    position: relative;

  }
  