<ion-content [fullscreen]="true" class="content-body">
  <ion-grid class="logo">
    <ion-row>
      <ion-col>
        <img src="assets/logotipo.svg" alt="Logotipo do EyePet">
      </ion-col>
    </ion-row>
  </ion-grid>

  <img src="assets/grafico-exe.png" width="80%" style="margin-left: 10%;margin-top: 20%;"/>

  <span class="subtitulo">Histórico</span>

  <ion-card class="card-atividades">
    <ion-item lines="none">
      <ion-icon name="pulse" slot="start" class="card-icone"></ion-icon>
      <ion-grid>
        <ion-row>
          <ion-col size="6">
            <ion-row>
              <ion-col class="titulo">
                Passeio
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col class="col-text ">
                10/03/2020 19:06
              </ion-col>
            </ion-row>
          </ion-col>
          <ion-col>
            <ion-row>
              <ion-col size="8" class="frequencia">
                087
              </ion-col>
              <ion-col>
                <ion-icon name="heart" class="coracao"></ion-icon> <br />
                <span class="bpm">BPM</span>
              </ion-col>
            </ion-row>
          </ion-col>
        </ion-row>

      </ion-grid>
    </ion-item>

  </ion-card>


</ion-content>