<ion-content [fullscreen]="true" class="content-body">
  <ion-grid class="logo">
    <ion-row>
      <ion-col>
        <img src="assets/logotipo.svg" alt="Logotipo do EyePet">
      </ion-col>
    </ion-row>
  </ion-grid>

  <img src="assets/grafico-exe.png" width="80%" style="margin-left: 10%;margin-top: 20%;"/>

  <span class="subtitulo">Histórico</span>

  <ion-card class="card-atividades teste">
    <ion-item lines="none">
      <ion-icon name="pulse" slot="start" class="card-icone"></ion-icon>
      <ion-grid>
        <ion-row>
          <ion-col size="6">
            <ion-row>
              <ion-col class="titulo">
                Repouso
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col class="col-text">
                16/03/2020 17:37
              </ion-col>
            </ion-row>
          </ion-col>
          <ion-col>
            <ion-row>
              <ion-col size="8" class="frequencia">
                112
              </ion-col>
              <ion-col>
                <ion-icon name="heart" class="coracao"></ion-icon> <br />
                <span class="bpm">BPM</span>
              </ion-col>
            </ion-row>
          </ion-col>
        </ion-row>

      </ion-grid>
    </ion-item>

  </ion-card>


  <ion-card class="card-atividades">
    <ion-item lines="none">
      <ion-icon name="pulse" slot="start" class="card-icone"></ion-icon>
      <ion-grid>
        <ion-row>
          <ion-col size="6">
            <ion-row>
              <ion-col class="titulo">
                Exercício
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col class="col-text ">
                12/03/2020 19:06
              </ion-col>
            </ion-row>
          </ion-col>
          <ion-col>
            <ion-row>
              <ion-col size="8" class="frequencia">
                135
              </ion-col>
              <ion-col>
                <ion-icon name="heart" class="coracao"></ion-icon> <br />
                <span class="bpm">BPM</span>
              </ion-col>
            </ion-row>
          </ion-col>
        </ion-row>

      </ion-grid>
    </ion-item>

  </ion-card>

  <ion-card class="card-atividades">
    <ion-item lines="none">
      <ion-icon name="pulse" slot="start" class="card-icone"></ion-icon>
      <ion-grid>
        <ion-row>
          <ion-col size="6">
            <ion-row>
              <ion-col class="titulo">
                Hotel
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col class="col-text ">
                07/03/2020 19:06
              </ion-col>
            </ion-row>
          </ion-col>
          <ion-col>
            <ion-row>
              <ion-col size="8" class="frequencia">
                132
              </ion-col>
              <ion-col>
                <ion-icon name="heart" class="coracao"></ion-icon> <br />
                <span class="bpm">BPM</span>
              </ion-col>
            </ion-row>
          </ion-col>
        </ion-row>

      </ion-grid>
    </ion-item>

  </ion-card>

  <ion-card class="card-atividades">
    <ion-item lines="none">
      <ion-icon name="pulse" slot="start" class="card-icone"></ion-icon>
      <ion-grid>
        <ion-row>
          <ion-col size="6">
            <ion-row>
              <ion-col class="titulo">
                Parque
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col class="col-text ">
                06/03/2020 17:57
              </ion-col>
            </ion-row>
          </ion-col>
          <ion-col>
            <ion-row>
              <ion-col size="8" class="frequencia">
                076
              </ion-col>
              <ion-col>
                <ion-icon name="heart" class="coracao"></ion-icon> <br />
                <span class="bpm">BPM</span>
              </ion-col>
            </ion-row>
          </ion-col>
        </ion-row>

      </ion-grid>
    </ion-item>

  </ion-card>

    <ion-card class="card-atividades">
    <ion-item lines="none">
      <ion-icon name="pulse" slot="start" class="card-icone"></ion-icon>
      <ion-grid>
        <ion-row>
          <ion-col size="6">
            <ion-row>
              <ion-col class="titulo">
                Petshop
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col class="col-text ">
                05/03/2020 13h07
              </ion-col>
            </ion-row>
          </ion-col>
          <ion-col>
            <ion-row>
              <ion-col size="8" class="frequencia">
                160
              </ion-col>
              <ion-col>
                <ion-icon name="heart" class="coracao"></ion-icon> <br />
                <span class="bpm">BPM</span>
              </ion-col>
            </ion-row>
          </ion-col>
        </ion-row>

      </ion-grid>
    </ion-item>

  </ion-card>

  <ion-card class="card-atividades">
    <ion-item lines="none">
      <ion-icon name="pulse" slot="start" class="card-icone"></ion-icon>
      <ion-grid>
        <ion-row>
          <ion-col size="6">
            <ion-row>
              <ion-col class="titulo">
                Ano novo
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col class="col-text ">
                01/01/2020 00:03
              </ion-col>
            </ion-row>
          </ion-col>
          <ion-col>
            <ion-row>
              <ion-col size="8" class="frequencia">
                170
              </ion-col>
              <ion-col>
                <ion-icon name="heart" class="coracao"></ion-icon> <br />
                <span class="bpm">BPM</span>
              </ion-col>
            </ion-row>
          </ion-col>
        </ion-row>

      </ion-grid>
    </ion-item>

  </ion-card>
</ion-content>